
/*Стилізація index.html сторінки*/
#mainDiv_index {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid cornflowerblue;
}

.headDiv-index {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
}

.headH2-index {
    width: 50%;
    text-align: center;
    min-width: 114px;
}

.twiceDiv-index {
    width: 50%;
    min-width: 114px;
    border: 1px solid cornflowerblue;
    padding-bottom: 2%;
    box-sizing: border-box;

}

.index-h3 {
    display: flex;
    justify-content: center;
    font-size: 120%;
    overflow-wrap: break-word;
    box-sizing: border-box;

}

.index-input {
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
    width: 90%;
    height: 25%;
    background: aliceblue;
}

.index-a {
    display: flex;
    justify-content: center;
}




/*Стилізація user-details.html*/
#detailsMain_div {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid cornflowerblue;
    padding: 5px 0 5px 15px;
}

.h2Main {
    width: 100%;
    margin: 0 3px 0 3px;
}

#postsInput {
    width: 90%;
    margin: 15px 5% 15px 5%;
    padding: 10px;
    font-size: 300%;
    overflow-wrap: break-word;
}

#titleDiv {
    border: 2px solid cornflowerblue;
    border-top: 0;
    padding: 17px;
}

.titleA {
    text-decoration: none;
}

.titleA:hover {
    text-decoration: underline;
}

.titleH3 {
    margin: 0 3px 0 3px;
    color: black;
    font-size: 150%;
    padding: 3px;
}




/*Стилізація post-details.html сторінки*/




