

/*задача 1*/
#my-form1 {
    padding: 2%;
    font-size: 140%;
    display: flex;
    flex-wrap: wrap;
}

.input1 {
    display: block;
    height: 40px;
}

.input_div {
    display: inline-block;
    margin: 0% 1%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#submit-form1 {
width: 130px;
    margin-left: 1%;
}



/*задача 2*/
#number2 {
    font-size: 5em;
    text-align: center;
    border: 4px solid limegreen;
    box-sizing: border-box;
    display: inline;
}

#refresh-button2 {
    margin-top: 3%;
    padding: 1%;
    overflow-wrap: break-word;
}

.bold2 {
    padding: 3% 3% 3% 7%;
    box-sizing: border-box;
}

#clear-button2 {
    display: block;
    margin: 3%;
    padding: 1%;
}


/*задача 3*/
.input3 {
    margin: 3%;
    font-size: 40px;
    border: 2px solid black;
}

.mainBlock3 {
    margin: 2%;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
}

.p3 {
    margin: 0;
    padding: 3%;
    border: 2px solid black;
}


/*задача 4*/
.div4 {
    font-size: 26px;
    box-sizing: content-box;
    border: 1px solid black;
    display: block;

}
.input4 {
    border: 1px solid black;
    margin: 4% 7% 1% 4%;
    padding: 3% 7% 3% 7%;
    font-size: 80px;
    box-sizing: border-box;
}

.input4:hover {
    background: white;
    box-sizing: border-box;
}



/*задача 5*/
#form5 {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 0% 5% 0%;
}

.input5 {
    margin: 0px 1%;
    height: 7vh;
    flex-grow: 3;
}

#button5 {
    margin: 1% 1% 0% 1%;
    height: 13vh;
    flex-basis: 100%;
}



/*додаткові одиничні стилі*/
/**/
/**/
/*Стиль для заголовків задач які починаю*/
.Tasks {
    font-size: 300%;
}


/*відступи для параграфів 2 і 3 задач.*/
.paddingLeft {
    padding-left: 3%;
    font-size: 2em;
}


/*загальний колір для ссилок*/
a {
    color: #0434fc;
}

