/*задача 1*/
#my-form1 {
    padding: 2%;
}

.input1 {
    display: block;
}

.input_div {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*задача 2*/
#number2 {
    font-size: 5em;
    text-align: center;
    border: 4px solid limegreen;
    box-sizing: border-box;
    display: inline;
}

#refresh-button2 {
    margin-top: 3%;
    padding: 1%;
    overflow-wrap: break-word;
}

.bold2 {
    padding: 3% 3% 3% 7%;
    box-sizing: border-box;
}


/*задача 3*/
.input3 {
    margin: 3%;
    font-size: 40px;
    border: 2px solid black;
}

.mainBlock3 {
    margin: 2%;
    border: 2px solid black;
    /*padding: 4%;*/
    display: inline-block;
    box-sizing: border-box;
}

.p3 {
    margin: 0;
    padding: 3%;
    border: 2px solid black;
}


/*задача 4*/
.div4 {
    font-size: 26px;
    box-sizing: content-box;
    border: 1px solid black;

}
.input4 {
    border: 1px solid black;
    margin: 4% 7% 1% 4%;
    padding: 3% 7% 3% 7%;
    /*float: right;*/
    font-size: 80px;
    box-sizing: border-box;
}

.input4:hover {
    background: white;
    box-sizing: border-box;
}






/*відступи для параграфів 2 і 3 задач.*/
.paddingLeft {
    padding-left: 3%;
}


/*загальний колір для ссилок*/
a {
    color: #0434fc;
}





/*++++++++++++++++++++++++зробити щоб сторінка опускалась*/